<a href="https://colab.research.google.com/github/parm-aatma/MinimumEditDistance/blob/main/Minimum_Edit_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
source=list(' shivam')
target=list(' pandey')
print('Source:',source)
print('Target:',target)

Source: [' ', 's', 'h', 'i', 'v', 'a', 'm']
Target: [' ', 'p', 'a', 'n', 'd', 'e', 'y']

In [44]:
import numpy as np

In [46]:
table=np.zeros((len(source),len(target)))
table

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [47]:
i,j=0,0

insert,delete,replace=1,1,2

while(i<len(target)):

  if(i==0 and j==0):
    table[0][0]=0
    j+=1
    continue

  if j-1>=0:
    score1=table[j-1][i]+delete
  else:
    score1=np.inf
  
  if i-1>=0:
    score2=table[j][i-1]+insert
  else:
    score2=np.inf

  if j-1>=0 and i-1>=0:
    if source[j]==target[i]:
      score3=table[j-1][i-1]
    else:
      score3=table[j-1][i-1]+replace
  else:
    score3=np.inf

  score=min(score1,score2,score3)
  table[j][i]=score

  j+=1

  if j==len(source):
    j=0
    i+=1

In [48]:
table

array([[ 0.,  1.,  2.,  3.,  4.,  5.,  6.],
       [ 1.,  2.,  3.,  4.,  5.,  6.,  7.],
       [ 2.,  3.,  4.,  5.,  6.,  7.,  8.],
       [ 3.,  4.,  5.,  6.,  7.,  8.,  9.],
       [ 4.,  5.,  6.,  7.,  8.,  9., 10.],
       [ 5.,  6.,  5.,  6.,  7.,  8.,  9.],
       [ 6.,  7.,  6.,  7.,  8.,  9., 10.]])